@import "~antd/dist/antd.css";

.content {
  background-color: white;
  margin: auto;
  margin: 0 15%;
  min-height: 90vh;
  padding: 24px;
}

.topNav {
  background: transparent;
  margin: 0 15%;
  padding: 0;
}
